/* Import theme styles. */
@import url( '../../style.css' );

/* Styles specific to the editor. */

body#tinymce {
	background: $color__white;
	border: none;
	margin-top: 1.7em;
	margin-left: 3%;
	padding-right: 3%;
	max-width: $site__bottom-max-width;
}

body#tinymce a {
    border-bottom: 2px solid $color__accent;
}
