$color__accent: #ffcd00;
$color__black: #000;
$color__white: #fff;

$color__background-body: #f0f0f0;
$color__background-screen: $color__black;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #f0f0f0;
$color__background-ins: #fff9c0;

$color__text-main: #404040;
$color__text-heading: $color__black;
$color__text-screen: $color__accent;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__black;
$color__link-visited: $color__black;
$color__link-faded: #ccc;
$color__link-hover: #404040;

$color__border-input: #ccc;
$color__border-input-focus: #000;
$color__border-abbr: #666;
$color__border-table: #ccc;

$color__button-background: $color__accent;
$color__button-text: $color__black;
