.menu-social {
  padding-bottom: 1.5em;
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 -0.49327018427em;
  }

  li {
    display: inline-block;
    padding-left: .49327018427em;
    margin-bottom: .62429507697em;

    &:first-child {
      padding-left: 0;
    }
  }

  a {
    background-color: $color__accent;
    border-radius: 4px;
    color: $color__black;
    display: block;
    width: 3em;
    height: 3em;

    &:active,
    &:focus,
    &:hover {
      background-color: $color__white;
    }

    &:focus {
      outline-offset: -4px;
    }
  }

  .icon {
    width: 2em;
    height: 2em;
    top: .5em;
  }
}
