.main-navigation {
  position: relative;
  text-transform: uppercase;
  margin-top: 1em;

  .no-header-text & {
    margin-top: 0;
  }

  ul {
    display: none;
    list-style: none;
    margin: 0;

    .no-js & {
      display: block;
    }
  }

  li {
    display: block;
    position: relative;
    border-bottom: 2px solid $color__black;
  }

  a {
    display: block;
    @include font-size(.88888888);
    line-height: 1.3125;
    outline-offset: -1px;
    padding: .84375em 0;
  }

  .current-menu-ancestor > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current_page_item > a {
    font-weight: 700;
  }
}

/* Small menu. */
.main-navigation.toggled {
  .menu-toggle {
    background: $color__button-text;
    color: $color__button-background;
  }
}

.main-navigation.toggled ul,
.menu-toggle {
  display: block;
}

.menu-toggle {
  border: 2px solid $color__button-text;
  transition: all .2s ease-in-out;
  @include center-block;
}

@include screen($breakpoint) {
  .menu-toggle {
    display: none;
  }

  .main-navigation {
    ul {
      display: block;
      padding: 0;
    }

    li {
      display: inline-block;
      border: 0;
    }

    a {
      display: inline-block;
      border: 0;
      padding: .65625em;
    }
  }
}
